# Interactive shell functions.

# Yazi
function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	if cwd="$(command cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		builtin cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}

{{- $isWSL := and (eq .chezmoi.os "linux") (contains "microsoft" (.chezmoi.kernel.osrelease | lower)) }}
{{- if $isWSL }}
llama-swap-start() {
  llama-swap \
    --config "$HOME/.config/llama-swap/config.yaml" \
    --listen localhost:8080
}
{{- end }}

dotfix() {
  chezmoi update
}
